.grid-container {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  grid-template-rows: 0.6fr 1.9fr 0.5fr;
  gap: 0px 0px;
  grid-template-areas:
    "header header"
    "nav content"
    "footer footer";
}

.header {
  grid-area: header;
}

.footer {
  grid-area: footer;
}

.nav {
  grid-area: nav;
}

.content {
  grid-area: content;
}
